body{
    background-image: url("chapter9A.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    margin: 0; /* add this to remove default margin */
    padding: 0; /* add this to remove default padding */
    height: 100vh; /* add this to set the height to full viewport height */
    width: 90vw;
}
.begin {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%; /* adjust the top position to 20% */
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 14px;
    width: auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.title{
    text-align: center;
}
.chose{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 23%; /* adjust the top position to 20% */
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 14px;
    width: auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.begin1{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 4%; /* adjust the top position to 20% */
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 14px;
    width: auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.chose1{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%; /* adjust the top position to 20% */
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 14px;
    width: auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn1{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    width: 150px;
    border-radius: 5px;
}
.btn2{
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%, 0);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    width: 150px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    body{
        background-size: 100%;
        background-image: url("chapter9.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .title{
        text-align: center;
    }
    .begin1{
        text-align: center;
        position: absolute;
        left: 46%;
        top: 5%;
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .begin {
        text-align: center;
        position: absolute;
        left: 46%;
        top: 39%; /* adjust the top position to 20% */
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .chose{
        text-align: center;
        position: absolute;
        left: 46%;
        top: 23%; /* adjust the top position to 20% */
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .chose1{
        text-align: center;
        position: absolute;
        left: 46%;
        top: 65%; /* adjust the top position to 20% */
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .btn1{
        position: absolute;
        left: 35%;
        top: 90%;
        transform: translate(-50%, 0);
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        width: 200px;
        border-radius: 5px;
    }
    .btn2{
        position: absolute;
        left: 60%;
        top: 90%;
        transform: translate(-50%, 0);
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        width: 200px;
        border-radius: 5px;
    }
}