body{
    background-image: url("chapter10A.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    margin: 0; /* add this to remove default margin */
    padding: 0; /* add this to remove default padding */
    height: 100vh; /* add this to set the height to full viewport height */
    width: 90vw;
}
.title{
    text-align: center;
}
.begin1{
    text-align: center;
    position: absolute;
    left: 49%;
    top: 18%;
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 14px;
    width: 80%;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.begin2{
    text-align: center;
    position: absolute;
    left: 49%;
    top: 40%;
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 14px;
    width: 83%;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.begin {
    text-align: center;
    position: absolute;
    left: 49%;
    top: 4%; /* adjust the top position to 20% */
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 15px;
    width: 60%;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.chose{
    text-align: center;
    position: absolute;
    left: 49%;
    top: 65%; /* adjust the top position to 20% */
    transform: translate(-50%, 0);
    color: aliceblue;
    font-size: 14px;
    width: 80%;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn{
    position: absolute;
    left: 49%;
    top: 80%;
    transform: translate(-50%, 0);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    width: 200px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    body{
        background-size: 100%;
        background-image: url("chapter10B.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 98vh;
        width: auto;
    }
    .title{
        text-align: center;
    }
    .begin1{
        text-align: center;
        position: absolute;
        left: 49%;
        top: 21%;
        width: auto;
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .begin2{
        text-align: center;
        position: absolute;
        left: 49%;
        width: auto;
        top: 50%;
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .begin {
        text-align: center;
        position: absolute;
        left: 49%;
        width: auto;
        top: 4%; /* adjust the top position to 20% */
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .chose{
        text-align: center;
        position: absolute;
        left: 49%;
        width: auto;
        top: 75%; /* adjust the top position to 20% */
        transform: translate(-50%, 0);
        color: aliceblue;
        font-size: 24px;
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .btn{
        position: absolute;
        left: 49%;
        top: 90%;
        transform: translate(-50%, 0);
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        width: 200px;
        border-radius: 5px;
    }
}